body {
    background: #000;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    border: 1px solid white;
    padding: 10px;
}

.name {
    color: yellow;
}

.rate {
    color:greenyellow;
}

.date {
    color: #fff;
}